@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
$font: "Open Sans", sans-serif;
$pink: hsl(322, 100%, 66%);
$dark-cyan: hsl(192, 100%, 9%);
$section-padding: 30px;
$pale-blue: hsl(207, 100%, 98%);
@mixin button-pink {
  background: $pink;
  color: white;
  border-radius: 30px;
  padding: 15px 60px;
  border: none;
  font-weight: 600;
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 20%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font;
  color: $dark-cyan;
}
header {
  width: 100%;
  padding: 3vw;
  nav {
    display: flex;
    justify-content: space-between;
    button {
      border: 1px solid $pink;
      background: transparent;
      color: $pink;
      font-family: $font;
      padding: 10px 30px;
      border-radius: 30px;
    }
  }
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: $section-padding;
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  button {
    @include button-pink();
    margin-bottom: 100px;
  }
  p {
    text-align: center;
    margin: 30px 0;
    max-width: 50ch;
  }
  img {
    width: 100%;
    max-width: 1000px;
  }
}
.section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: $section-padding;
  max-width: 1000px;
  h1,
  h2 {
    font-size: 4rem;
  }
  p {
    color: grey;
  }
  div {
    text-align: center;
    img {
      display: block;
    }
  }
  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 100px;
  }
}
.section-3 {
  text-align: center;
  margin-bottom: 200px;
  img {
    width: 100%;
    display: block;
  }
  & > div {
    padding: $section-padding;
    background: $pale-blue;
    img {
      margin-bottom: 30px;
      max-width: 600px;
    }
    p {
      max-width: 50ch;
      margin: 20px auto 0 auto;
    }
    @media screen and (min-width: 1000px) {
      text-align: left;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
  }
}
.section-4 {
  padding: 50px;
  text-align: center;
  img {
    width: 100%;
    max-width: 600px;
  }
  * + * {
    margin-top: 20px;
  }
  p {
    max-width: 50ch;
    margin: 20px auto 0 auto;
  }
  @media screen and (min-width: 1000px) {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
}
.section-5 {
  text-align: center;
  img {
    width: 100%;
    display: block;
  }
  & > div {
    background-color: $pale-blue;
    padding: $section-padding;
    * + * {
      margin-top: 20px;
    }
    img {
      max-width: 600px;
    }
    p {
      max-width: 50ch;
      margin: 20px auto 0 auto;
    }
    @media screen and (min-width: 1000px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 100px;
      text-align: left;
    }
  }
}
.section-6 {
  padding: $section-padding;
  text-align: center;
  margin-bottom: 200px;
  h1 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  button {
    @include button-pink();
  }
  @media screen and (min-width: 1000px) {
    margin-top: 100px;
  }
}
footer {
  picture img {
    width: 100%;
    display: block;
  }
  & > div {
    background: $dark-cyan;
    color: white;
    padding: $section-padding;
    .flex-desktop > div > p {
      margin: 20px 0;
      font-weight: 600;
      max-width: 50ch;
    }
    input {
      width: 100%;
      border: none;
      border-radius: 10px;
      max-width: 600px;
      padding: 15px;
    }
    button {
      @include button-pink();
      border-radius: 10px;
      display: block;
      margin: 15px 0 0 auto;
    }
    & > div > div > img {
      margin-top: 100px;
    }
    .info {
      & > * {
        margin-top: 15px;
      }
      .flex {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .social-links {
      margin-top: 20px;
      font-size: 2rem;
    }
    @media screen and (min-width: 1000px) {
      .flex-desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 100px;
      }

      & > div > div > img {
        margin-top: 0;
      }
      padding: 100px 200px;

      .input {
        display: flex;
        gap: 20px;
        align-items: center;
        button {
          margin-top: 0;
        }
      }
    }
  }
}
