@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
}

header {
  width: 100%;
  padding: 3vw;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav button {
  border: 1px solid #ff52bf;
  background: transparent;
  color: #ff52bf;
  font-family: "Open Sans", sans-serif;
  padding: 10px 30px;
  border-radius: 30px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 30px;
}
.section-1 h1 {
  text-align: center;
  font-size: 2.5rem;
}
.section-1 button {
  background: #ff52bf;
  color: white;
  border-radius: 30px;
  padding: 15px 60px;
  border: none;
  font-weight: 600;
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}
.section-1 p {
  text-align: center;
  margin: 30px 0;
  max-width: 50ch;
}
.section-1 img {
  width: 100%;
  max-width: 1000px;
}

.section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-width: 1000px;
}
.section-2 h1,
.section-2 h2 {
  font-size: 4rem;
}
.section-2 p {
  color: grey;
}
.section-2 div {
  text-align: center;
}
.section-2 div img {
  display: block;
}
@media screen and (min-width: 800px) {
  .section-2 {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 100px;
  }
}

.section-3 {
  text-align: center;
  margin-bottom: 200px;
}
.section-3 img {
  width: 100%;
  display: block;
}
.section-3 > div {
  padding: 30px;
  background: #f5faff;
}
.section-3 > div img {
  margin-bottom: 30px;
  max-width: 600px;
}
.section-3 > div p {
  max-width: 50ch;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 1000px) {
  .section-3 > div {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}

.section-4 {
  padding: 50px;
  text-align: center;
}
.section-4 img {
  width: 100%;
  max-width: 600px;
}
.section-4 * + * {
  margin-top: 20px;
}
.section-4 p {
  max-width: 50ch;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 1000px) {
  .section-4 {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
}

.section-5 {
  text-align: center;
}
.section-5 img {
  width: 100%;
  display: block;
}
.section-5 > div {
  background-color: #f5faff;
  padding: 30px;
}
.section-5 > div * + * {
  margin-top: 20px;
}
.section-5 > div img {
  max-width: 600px;
}
.section-5 > div p {
  max-width: 50ch;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 1000px) {
  .section-5 > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: left;
  }
}

.section-6 {
  padding: 30px;
  text-align: center;
  margin-bottom: 200px;
}
.section-6 h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.section-6 button {
  background: #ff52bf;
  color: white;
  border-radius: 30px;
  padding: 15px 60px;
  border: none;
  font-weight: 600;
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1000px) {
  .section-6 {
    margin-top: 100px;
  }
}

footer picture img {
  width: 100%;
  display: block;
}
footer > div {
  background: #00252e;
  color: white;
  padding: 30px;
}
footer > div .flex-desktop > div > p {
  margin: 20px 0;
  font-weight: 600;
  max-width: 50ch;
}
footer > div input {
  width: 100%;
  border: none;
  border-radius: 10px;
  max-width: 600px;
  padding: 15px;
}
footer > div button {
  background: #ff52bf;
  color: white;
  border-radius: 30px;
  padding: 15px 60px;
  border: none;
  font-weight: 600;
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: block;
  margin: 15px 0 0 auto;
}
footer > div > div > div > img {
  margin-top: 100px;
}
footer > div .info > * {
  margin-top: 15px;
}
footer > div .info .flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer > div .social-links {
  margin-top: 20px;
  font-size: 2rem;
}
@media screen and (min-width: 1000px) {
  footer > div {
    padding: 100px 200px;
  }
  footer > div .flex-desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
  }
  footer > div > div > div > img {
    margin-top: 0;
  }
  footer > div .input {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  footer > div .input button {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */