@use "../mixins.scss" as *;
@use "../variables.scss" as *;
footer {
  .pattern img {
    width: 100%;
    display: block;
  }
  .main {
    background: $dark-cyan;
    color: white;
    padding: $section-padding;
    .main-content > div > p {
      margin: 20px 0;
      font-weight: 600;
      max-width: 50ch;
    }
    input {
      width: 100%;
      border: none;
      border-radius: 10px;
      padding: 15px;
    }
    button {
      @include button-pink();
      border-radius: 10px;
      display: block;
      margin-top: 15px;
      margin-left: auto;
    }
    .logo {
      margin-top: 100px;
    }
    .info {
      & > * {
        margin-top: 15px;
      }
      .flex {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .social-links {
      margin-top: 20px;
      font-size: 2rem;
      cursor: pointer;
      *:hover {
        color: $pink;
      }
    }
    @include lg {
      padding: 7vh 10vw;
      .main-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 100px;
      }

      .logo {
        margin-top: 0;
      }

      .input {
        display: flex;
        gap: 20px;
        align-items: center;
        button {
          margin-top: 0;
        }
        input {
          max-width: 600px;
        }
      }
    }
  }
}
